{% extends "admin/base_site.html" %}

{% block title %}{% block portal_title %}Admin Portal{% endblock %} | Sanok Order Management System{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin_portal:dashboard' %}">Sanok Order Management System</a></h1>
{% endblock %}

{% block usertools %}
{% if user.is_authenticated %}
Welcome,
<strong>{% firstof user.get_short_name user.get_username %}</strong>.
<a href="{% url 'admin:index' %}">Admin site</a>
<a href="{% url 'logout' %}">Log out</a>
{% endif %}
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin_portal:dashboard' %}">Admin Portal</a>
{% block portal_breadcrumbs %}{% endblock %}
</div>
{% endblock %}

{% block content %}
{% block portal_content %}{% endblock %}
{% endblock %}
